.home-page {
    color: #f7f7f7;
    /* background-color: rgba(0, 0, 0, 0.8); */
    margin-top: 100px;
    margin-left: 60px;
    
    h1 {
     font-size: 2.8rem;
     color: $color-1;
    }

}
@media (max-width: 800px) {
    .home-page {
       text-align: center;
       margin-left: 0;
    }
    
  }