.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(0, 0, 0);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
    padding: 0px 20px;

    a{
        color: $color-2;
        margin: 10px;
        padding:10px;
        position: relative;
    }
    a:hover{
        color: $color-1
    }
    
    .active{
        &::after {
            content: "";
            border-radius: 25px;
            width: 85%;
            height: 5px;
            background: $color-1;
            position: absolute;
            bottom: 1px;
            left: 50%;
            transform: translateX(-50%);
          }
    }

    .home{
        display: flex;
    }

}

