@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");

$font-1: "Poppins", sans-serif;

$color-1: #61dafb;
$color-2: #f7f7f7;
$color-3: #282c34;
$color-4: rgb(32, 35, 42);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  margin: 100px auto;
  font-family: $font-1;
  color: $color-3;
  background-image: url(../../public/img/theaterComics.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: black;
  background-position: top;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: $color-2;
  cursor: pointer;
  transition: color .2s ease-in-out;
}

a:visited {
  color: $color-3;
}

/* a:hover {
  font-size: 1.1em;
} */

.btn-container {
  display: flex;
  justify-content: flex-end;
}

button {
  border: none;
  color: $color-1;
  margin: 0px 60px;
  background-color: $color-3;
}


button:hover {
  color: $color-2;
  cursor:pointer;
}

.random {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max-width: 800px) {
  .navbar {
    display: flex;
    flex-direction: column;
    font-size: 10px;
  }
  body {
    margin: 100px auto;
    font-family: $font-1;
    color: $color-3;
    background-image: url(../../public/img/phone.jpg);
    background-size:60vh;
    background-position: center;

  }
  
}


